{% extends 'dashborad/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 chart">
            <canvas id="doughnutId" width="500px"; height="400px"></canvas>
        </div>
        <div class="col-6 chart">
            <canvas id="barId" width="500px"; height="400px" ></canvas>
        </div>

        <div class="col-6 chart">
            <canvas id="RonaldoId" width="500px"; height="400px"></canvas>
        </div>
        <div class="col-6 chart">
            <canvas id="pieId" width="500px"; height="400px" ></canvas>
        </div>

    </div>


</div>

{% endblock content %}